[package]
name = "loginAPI"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
serde = { version = "1", features = ["derive"] }
oracle = "0.6.3" 
dotenv = "0.15" 
log = "0.4"
env_logger = "0.10"
